################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task-150/packages
/.vs
/Selenium/Task50/.vs/Task50/v16
/Task-150/.vs/Task-150/v16
/Task-150/FinalTask/obj/Debug
/Task-150/FinalTask/bin/Debug
/SolutionTask-70/.vs/SolutionTask-70/v16
/Selenium/Task50/.vs/Task50/DesignTimeBuild
/Task-150/FinalTask/allure-results
/Task-150/FinalTask/Screenshots/VerifyUserLogin_CorrectCredentials_Screenshot_TestFailed_12-27-33.png
