<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="3.5.0.73" targetFramework="net472" />
  <package id="AspectInjector" version="2.6.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.5.0" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="16.5.0" targetFramework="net472" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.13.2" targetFramework="net472" />
  <package id="NUnit.Allure" version="1.2.1.1" targetFramework="net472" />
  <package id="NUnit.Allure.Steps" version="1.0.9" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.10200" targetFramework="net472" />
</packages>